.main-container {
  display: flex;
  gap: 16px;
  height: 100%;
}

.nav-container {
  border-right: 2px solid var(--programiz-brand-divider);
  padding-right: 12px;
}

.body-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  border-right: 2px solid var(--programiz-brand-divider);
  padding-right: 16px;
  overflow-x: scroll;
}

.course-name {
  color: var(--primary-color);
  font-size: 14px;
}

#query-input {
  height: 40px;
  width: 80%;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--programiz-brand-divider);
  padding: 3px 10px;
  background-color: var(--programiz-brand-divider);
}

#table-container {
  overflow: auto;
  flex: 1;
}

h4,
h5 {
  margin: auto;
}

hr {
  background-color: var(--programiz-brand-divider);
  height: 1px;
  border: none;
}

.fields {
  display: flex;
  flex-direction: column;
}

.field {
  position: relative;
  list-style: none;
  padding-bottom: 6px;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  opacity: 0.8;
}

.fields > .field::before {
  position: absolute;
  content: "";
  border: 2px solid var(--programiz-brand-divider);
  border-right: none;
  border-top: none;
  width: 10px;
  bottom: 14px;
  left: -16px;
  height: 100%;
}

.query-form {
  display: flex;
  gap: 8px;
}

.query-run-button {
  background: none;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  flex-basis: 100px;
}

.query-run-button:hover {
  transition: background-color 0.5s;
  background-color: var(--programiz-text-primary);
}

table {
  border: 1px solid var(--programiz-brand-divider);
  border-collapse: collapse;
  border-radius: 4px;
  width: 100%;
}

th {
  background-color: var(--programiz-brand-asset-background);
}

th,
td {
  border: 1px solid var(--programiz-brand-divider);
  padding: 4px 16px;
}

td {
  opacity: 0.6;
  font-family: "EuclidCircularA-Regular";
}

.chapter-table > caption {
  margin-bottom: 8px;
}
